h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

body {
    background-color: lightsalmon;
}

.numsearch {
    margin-bottom: 5px;
    float: left;
}

.namesearch{
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 500px;
    float: left;
}

.content {
    background-color: lightgray;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 300px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    margin-right: 20px;
    float: left;
}