h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

body {
    background-color: lightsalmon;
}

b {
    text-align: center;
    font-size: 1.17em;
    font-weight: bolder;
}

.numsearch {
    margin-bottom: 5px;
    float: left;
}

.namesearch{
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 700px;
    float: left;
}

.content {
    background-color: lightgray;
    border-style: solid;
    margin-top: 10px;
    margin-left: -10px;
    margin-bottom: 25px;
    max-width: 300px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    margin-right: 20px;
    float: left;
}

.oldPokemon{
    margin: 20px;
    align-items: left;
}

.blockdiv{
    background-color:lightblue;

}

.pokemonListResults {
    list-style: none;
    background-color: lightskyblue;
    min-width: 900px;
}

ul li {
    background: green;
    margin: 25px;
    margin-left: -10px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    float: left;
    max-width: 300px;
    border-style: solid;
  }

  li {
      max-width: 300px;
  }